/* Customize css stylesheet */

.bg-background{
    background-color: #264653;
}
.text-color{
    color: #E0E0E0;
}
.spen-text-color{
    color: #E76F51;
}
.img-grayscle{
    filter: grayscale(100%);
}
.hunda-btn-buy-now{
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    background-image: linear-gradient(to bottom, #f18117 0%, #f16236 100%);
}